*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:lightblue;
}
/* Header */
.header{
    display: flex;
    justify-content: space-around;
    height : 12vh;
    background-color: rgb(155, 155, 215);
    align-items: center;
    z-index: auto;
    position: sticky;
    width: 100%;
}

#serh{
    width: 50vh;
    height: 5vh;
}

#digital-world-logo{
   background-color: rgb(155, 155, 215) ;
   
}

/* Logos 2 */

.logos_sec{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
}

.sec_img img{
    height: 30vh;
    width: 100vh;
    /* display: inline-block; */
    position: relative;
    z-index: -1;
    
    
}

#title{
    color: white;
    position: absolute;
    margin-left: 2vh;
}

.All_Categories{
    height: 25vh;
    border: 2px solid black;
    background-color: white;
    width: 30vh;
    padding: 2vh;
    
}

#cat_heading{
    background-color: blue;
    text-align: center;
}

/* Smart Phones */

#smart_phones{
    padding-bottom: 3vh;
    padding-top: 8vh;
    padding-left: 9vh;
}

.smart_phones{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}




#phone_logo{
    background-color: rgb(63, 131, 131);
    padding: 2vh;
}


#phone_logo img{
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
   }


   /* Laptops Section */


#laptops{
    padding-top: 10vh;
    padding-left: 14vh;
}
   .laptops_main{
    display: flex;
    justify-content: space-evenly;
    
   }


   .laptop-img{
    background-color: rgb(63, 131, 131);
    text-align: center;
    padding: 2vh;
    position: relative;
    z-index: -1;
   }


   .laptop-img img{
    width: 30vh;
    height: 25vh;
   }


   /* Watch sec */

   #smart-watches{
    padding-top: 10vh;
    padding-top: 20vh;
   }


   .watch-main{
    display: flex;
    justify-content: space-evenly;
    
    justify-items: center;
    align-items: center;
   }

   .watch-div{
    width: 30vh;
    height: 30vh;
    text-align: center;
    padding: 5vh;
    background-color: rgb(63, 131, 131);
    

   }

   .watch-div img{
    width: 20vh;
    height: 20vh;
   }

   #watch-h{
    margin-top: 8vh;
    
   }

   /* watch sec */

   .watch-sec-main{
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-evenly;
    
    justify-items: center;
    align-items: center;
    padding-top: 2vh;

   }

   
   .watch-sec-div{
    width: 30vh;
    height: 30vh;
    text-align: center;
    padding: 5vh;
    background-color: rgb(63, 131, 131);
    

   }

   .watch-div img{
    width: 20vh;
    height: 20vh;
   }


   /* Footer */

   .footermain{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(38, 94, 112);
    height: 5vh;
    text-align: center;

   }


   .footermain img{
    display: inline-block;
    margin-bottom: 10vh;

   }

   /* #fh{
    margin-top: 5vh;
    margin-right: 50vh;
   } */